:root {
  --body-color: #ffffff;
  --header-color: rgba(255, 250, 243, 1);
  --shadow-color: rgba(0, 0, 0, 0.1);
  --font-color: black;
  --languageBg-color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--body-color);
  line-height: 1.6;
  height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-color);
  height: 70px;
  padding: 0 20px;
  box-shadow: 0 2px 4px var(--shadow-color);
}

.ul-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link-page {
  font-size: 14px;
  color: var(--font-color);
  font-weight: 600;
  position: relative;
  transition: color 0.3s ease;
}
.link-page::after {
  content: '';
  background-color: blue;
  position: absolute;
  width: 0;
  height: 2px;
  top: 20px;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.link-page:hover::after {
  width: 100%;
}

.link-page:hover {
  color: blue;
}

.icon-link {
  width: auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-icon {
  height: 140%;
  transition: transform 0.3s ease;
}

.nav-icon:hover {
  transform: scale(1.1);
}

.menu-btn {
  display: none;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 90px;
  gap: 2rem;
}
.dark-light {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.light,
.dark {
  font-size: 25px;
  display: inline-block;
  transition: transform 0.2s ease;
}

.light:hover,
.dark:hover {
  transform: rotate(30deg);
  cursor: pointer;
}

.dark {
  display: none;
}

.language {
  display: flex;
  width: 50%;
  align-items: center;
}

.english,
.french {
  width: 100%;
  font-size: 14px;
  font-weight: 800;
  border-radius: 90px;
  background-color: var(--languageBg-color);
  padding: 7px;
  color: white;
  transition: all 0.2s ease;
}

.english:hover,
.french:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px var(--shadow-color);
}
.english {
  display: none;
}

.small-nav {
  display: none;
}

@media (max-width: 768px) {
  header {
    height: 60px;
  }
  .ul-menu {
    display: none;
  }
  .options {
    margin-right: 0px;
  }
  .link-page {
    margin-left: 30px;
    font-size: 12px;
  }
  .menu-btn,
  .close-btn {
    display: block;
    cursor: pointer;
    font-size: 25px;
    font-weight: 800;
  }
  .close-btn {
    margin-left: 30px;
  }
  .nav-icon {
    height: 100%;
  }

  .small-nav {
    background-color: var(--header-color);
    display: block;
    height: 100vh;
    width: 50vw;
    position: fixed;
    top: 0;
    left: -50vw;
    z-index: 2000;
    transition: all 0.3s ease;
    .ul-menu {
      margin-top: 10px;
      opacity: 1;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 30px;
    }
  }
}

@media (max-width: 480px) {
  header {
    height: 50px;
  }
  .link-page {
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 0.7px;
  }
}
